#footer{
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    .imgDiv{
        position: absolute;
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            object-fit: cover;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: rgba(10,84,107,0.307);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            mix-blend-mode: multiply;
        }

    }
    .secContent{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 2rem initial;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        row-gap: 3rem;
        z-index: 100;
        .contactDiv{
            justify-content: space-between;
            flex-direction: column;
            gap: 1rem;
            .text{
                small{
                    font-size: 13px;
                    font-weight: 400;
                    color: hsl(0,0%,100%);
                }
                h2{
                    color: hsl(0,0%,100%);
                    font-size: 1.8rem;
                }
            }
            .inputDiv{
                width:100%;
                gap: 1rem;
                flex-direction: column;
                
                input{
                    width: 100%;
                    padding: .5rem .6rem;
                    border-radius: 3rem;
                    border: 1px solid hsl(0,0%,100%);
                    outline: none;
                    background: hsla(240, 4%, 36%, 0.512);/*transparent;*/
                    color: hsl(0,0%,100%);
                    &::placeholder{
                        color: hsl(0,0%,100%);
                        opacity: .5;
                    }
                }
                .btn{
                    width: 100%;
                    justify-content: center;
                    color: hsl(0,0%,100%);
                    font-weight: 500;
                    gap: .5rem;
                    .icon{
                        font-size: 18px;
                    }
                }
            }
        }
        .footerCard{
            position:relative;
            padding: 1rem 1rem 4rem;
            gap: 2rem;
            border-radius: 1rem;
            background: rgb(240,240,240);
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;

            .footerIntro{
                flex-basis: 50%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                row-gap: .2rem;
                .logoDiv{
                    .logo{
                        color: hsl(201,33%,16%);
                        font-weight: 600;
                        
                    }
                }
                .footerSocials{
                    column-gap: .5rem;
                    .icon{
                        color:hsl(201,33%,16%);
                        font-size: 20px;
                        &:hover{
                            color:hsl(199,100%,33%)
                        }
                    }
                }
            }
            .footerLinks{
                flex-basis: 50%;
                width:100%;
                gap: 1rem;
                grid-template-columns: repeat(2,1fr);
                justify-content: space-between;
                .linkGroup{
                    
                    .groupTitle{
                        display:block;
                        font-size: 13px;/*font-size: 15px;*/
                        font-weight:600 ;
                        color: hsl(201,33%,16%);
                        margin-bottom: .5rem;
                    }
                    .footerList{
                        
                        color: hsl(240,4%,36%);
                        transition: .3s ease-in-out;
                        a{
                            font-size: 12px;/*font-size: 15px;*/
                            color: hsl(240,4%,36%);
                            &:hover{
                                color:hsl(199,100%,33%);
                                transform: translate(7px);
                                
                            }
                        }
                        .icon{
                            font-size: 12px;/*font-size: 15px;*/
                            color: rgb(190,190,190);
                        }
                        &:hover{
                            color:hsl(199,100%,33%);
                            transform: translate(7px);
                            .icon{
                                color:hsl(187,85%,43%);
                            }
                        }
                    }
                }
            }
            .footerDiv{
                flex-direction: column;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: hsl(187,85%,43%);
                padding: .5rem 2rem;
                small{
                    font-size: 10px;
                    color: hsl(0,0%,100%);
                }
            }
        }
    }
}
@media  (min-width:500px) {
    #footer{
        .secContent{
            gap: 5rem;
            .footerCard{
                .footerLinks{
                    grid-template-columns: repeat(3,1fr);
                    padding-bottom: 1rem;
                    .linkGroup{
                        .groupTitle{
                            font-size: 15px;
                        }
                        .footerList{
                            a{
                                font-size: 15px;
                            }
                            .icon{
                                font-size: 15px;
                            }
                        }
                    }
                }
                .footerDiv{
                    justify-content: space-between;
                    flex-direction: row;
                    small{
                        font-style: 14px;
                        color: hsl(0,0%,100%);
                    }
                }
                
            }
            
        }
    }
}

@media  (min-width:1111px) {
    #footer{
        padding: 5rem 0;
        .secContent{
            
            .contactDiv{
                
                flex-direction: column;
                justify-content: space-between;
                .text{
                    text-align: center;
                }
                .inputDiv{
                    width: max-content;
                    flex-direction: row;
                    justify-content: flex-start;
                    input{
                        width: 60%;
                    }
                    .btn{
                        width: max-content;
                    }
                }
            }
            
        }
    }
}